@model Mens2020.DataSource.Models.UserEvent
@{
    ViewBag.Title = "CreateQuick";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">

    <script>
         @using Mens2020.DataSource.Models
        @{ int RecurIntValue;}

        window.addEventListener("load", function () {
            document.querySelector("#goalInput").addEventListener("submit", function (e) {
                var txt = document.querySelector("[name=Goal]").value;
                document.querySelector("#Goal").innerHTML = txt;
                document.querySelector("#ShowGoal").style.display = "block";
                document.querySelector("#finishGoal").style.display = "block";
                document.querySelector("#goalInput").style.display = "none";

                e.preventDefault();
            });
        });

        window.onload = function () {
            document.querySelector("#color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#color-chooser").style.display = "block";
            })
            document.querySelector("#recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#recursion-form").style.display = "block";
            })
            document.querySelector("#close-color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#color-chooser").style.display = "none";
            })
            document.querySelector("#close-recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#recursion-form").style.display = "none";
            })

        };
         window.onload = function () {
            document.querySelector("#submitColor").addEventListener("click", function (e) {
                document.querySelector("#review").style.display = "block";

                var sundayChecked = document.getElementById("sunday");
                var sundayclicked = document.getElementById("sunday");
                if (sundayChecked.checked == true) {
                    sunday1.checked = "checked";

                    @{ RecurIntValue = + (int)Day.Sunday;

                            }
                } else {
                    sunday1.checked = "";
                }

                var mondayChecked = document.getElementById("monday");
                var mondayclicked = document.getElementById("monday");
                if (mondayChecked.checked == true) {
                    monday1.checked = "checked";
                      @{ RecurIntValue = + (int)Day.Monday;

                            }
                } else {
                    monday1.checked = "";
                }

                var tuesdayChecked = document.getElementById("tuesday");
                var tuesdayclicked = document.getElementById("tuesday");
                if (tuesdayChecked.checked == true) {
                    tuesday1.checked = "checked";
                     @{ RecurIntValue = + (int)Day.Tuesday;   }
                } else {
                    tuesday1.checked = "";
                }

                var wednesdayChecked = document.getElementById("wednesday");
                var wednesdayclicked = document.getElementById("wednesday");
                if (wednesdayChecked.checked == true) {
                    wednesday1.checked = "checked";
                      @{ RecurIntValue = + (int)Day.Wednesday;   }
                } else {
                    wednesday1.checked = "";
                }

                var thursdayChecked = document.getElementById("thursday");
                var thursdayclicked = document.getElementById("thursday");
                if (thursdayChecked.checked == true) {
                    thursday1.checked = "checked";
                      @{ RecurIntValue = + (int)Day.Thursday;   }
                } else {
                    thursday1.checked = "";
                }

                var fridayChecked = document.getElementById("friday");
                var fridayclicked = document.getElementById("friday");
                if (fridayChecked.checked == true) {
                    friday1.checked = "checked";
                      @{ RecurIntValue = + (int)Day.Friday;   }
                } else {
                    friday1.checked = "";
                }

                var saturdayChecked = document.getElementById("saturday");
                var saturdayclicked = document.getElementById("saturday");
                if (saturdayChecked.checked == true) {
                    saturday1.checked = "checked";
                      @{ RecurIntValue = + (int)Day.Saturday;   }
                } else {
                    saturday1.checked = "";
                }

                var dailyChecked = document.getElementById("daily");
                var dailyclicked = document.getElementById("daily");
                if (dailyChecked.checked == true) {
                    sunday1.checked = "checked";
                    monday1.checked = "checked";
                    tuesday1.checked = "checked";
                    wednesday1.checked = "checked";
                    thursday1.checked = "checked";
                    friday1.checked = "checked";
                    saturday1.checked = "checked";
                } else { }
            })
        }

    </script>
}

<h2>CreateQuick</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColorID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>


        <div>
            <div>
                <input type="checkbox" id="sunday" value="sunday">Sunday
            </div>

            <div>
                <input type="checkbox" id="monday" value="monday">Monday
            </div>

            <div>
                <input type="checkbox" id="tuesday" value="tuesday">Tuesday
            </div>

            <div>
                <input type="checkbox" id="wednesday" value="wednesday">Wednesday
            </div>

            <div>
                <input type="checkbox" id="thursday" value="thursday">Thursday
            </div>

            <div>
                <input type="checkbox" id="friday" value="friday">Friday
            </div>

            <div>
                <input type="checkbox" id="saturday" value="saturday">Saturday
            </div>
            <br />
            <div>
                <input type="checkbox" id="daily" value="daily"><b>DAILY</b>
            </div>
        </div>

        <button id="submitColor">Submit</button>
        <div id="review" style="display:none">
            <div>
                <input type="checkbox" id="sunday1" value="sunday1">Sunday
            </div>

            <div>
                <input type="checkbox" id="monday1" value="monday1">Monday
            </div>

            <div>
                <input type="checkbox" id="tuesday1" value="tuesday1">Tuesday
            </div>

            <div>
                <input type="checkbox" id="wednesday1" value="wednesday1">Wednesday
            </div>

            <div>
                <input type="checkbox" id="thursday1" value="thursday1">Thursday
            </div>

            <div>
                <input type="checkbox" id="friday1" value="friday1">Friday
            </div>

            <div>
                <input type="checkbox" id="saturday1" value="saturday1">Saturday
            </div>
        </div>


    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div id="ShowGoal" style="display:none">
    <div style="margin-top:20px">
        <!-- todo: Add DB output code here.... -->
        <text>GOAL: <span id="Goal"></span></text>
    </div>
    <div id="finishGoal" class="finishgoal-div">
        <div id="pop-up" class="finishgoal-form-container">
            <div class="opaque-background"></div>
            <form id="color-chooser" class="finishgoal-form">
                <!-- todo:(YG) Add color chooser here.... -->
                <button type="button" id="close-color" class="close-button">X</button>
                NEEDS COLOR CHOOSER!!!!
            </form>
            <form id="recursion-form" class="finishgoal-form" style="display:none">
                <!-- todo: Add DB input code here.... -->
                <button type="button" id="close-recursion" class="close-button">X</button>
                NEEDS CODE!
            </form>
        </div>
        <button id="color" class="finishgoal-button">Choose Color</button>
        <button id="recursion" class="finishgoal-button">Done By</button>
        <div>

            <button id="save">SAVE</button>
            <button>Clear All</button>
        </div>
    </div>
</div>