@model IEnumerable<Mens2020.DataSource.Models.UserEvent>
@{
    ViewBag.Title = "AllGoals";
}

@section scripts{
    <script>
        var imageBg = document.getElementById("myImageBg");

        var btn = document.getElementById("imgBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            imageBg .style.display = "block";
        }

        span.onclick = function() {
            imageBg .style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == imageBg)

        {
            imageBg .style.display = "none";
        }
        }
    </script>
}

<h2>AllGoals</h2>

<div>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventText)
            </th>


        </tr>
    </table>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventText)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", "Home", new { id = item.UserEventId }, null) |
                        @Html.ActionLink("Details", "Details", "Home", new { id = item.UserEventId }, null) |
                        @Html.ActionLink("Delete", "Delete", "Home", new { id = item.UserEventId }, null)
                        <button id="imgBtn">Goal Completed</button>
                    </td>
                </tr>
            </table>
        }
    }
    else
    {
        <table>
            <tr>
                <td>
                    You have no active goals at the moment
                </td>
            </tr>
        </table>
    }

    <div id="myImageBg" class="imageBg">
        <div class="imageBg-content">
            <span class="close">
                &times;
            </span>
            <img src="job well done2.jpg" />
        </div>
    </div>
</div>